*{
	padding: 0;
	margin: 0;
	user-select: none;
	outline: none;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: inherit;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
:-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4); 
}
/* HEADER */


header{
	background: linear-gradient(rgba(0 ,55 ,0, 0.8), rgba(26,45,54, 0.7)),url(../IMG/code.png);
	background-size: cover;
	height: 620px;
	width: 100%;
	color: white;
}

header #lang, header #presentation{
  display: inline-block;
  vertical-align: top;
}

header #lang{
  width: 10%;
}

header #lang img{
  height: 30px;
  width: 30px;
  margin: 15px 0 15px 15px;
}


header #lang h5{
  visibility: hidden;
  font-family: 'Fredericka the Great', cursive;
}

header #lang li:hover + h5{
  visibility: visible;
}




header #lang li, header #lang h5{
  display: inline-block;
}

header #menu ul{
	list-style-type: none;
 font-family: 'Architects Daughter', cursive;
 font-size: 17px;
 text-align: center;
}

header #menu ul span{
  color: white;
}

header #menu ul li {
	text-transform: uppercase;
	display: inline-block;
	border: 1px solid white;
	padding: 0.5rem 1.25rem 0.5rem 1.45rem;
  color: grey;
  margin-bottom: 1%;
}
header #menu ul li:hover {
	background:rgba(255,255,255,0.2);
}

header #menu ul li a{
	text-decoration: none;
	color: white;
}

header #title{
	margin: 5% 5% 5% 15%;
	text-align: center;
	width: 70%;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding: 3% 0 3% 0;
}

header #title p{
  margin-top: 5%;
  font-family: 'Charmonman', cursive;
  font-size: 25px;
  font-weight: bolder;
}

header #title h1{
  font-family: 'Fredericka the Great', cursive;
}

 header #presentation{
 	width: 70%;
	padding: 0;
  margin: 0 0 0 5%;
}






/* ABOUT */

#about {
  background-image: linear-gradient(to bottom, #4facfe 0%, #00f2fe 50%, #fdfcfb 99%);
	height: 500px;
	text-align: center;
  padding-top: 2%;
}
#about h1{
  margin-bottom: 2%;
}

#introduction-me {
  width: 20%;
  float: left;
}

#introduction-l{
  width: 80%;
  float: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

#introduction-l h4{
  font-family: 'Fredericka the Great', cursive;
  font-kerning: normal;
  font-size: 1.2em;
  word-wrap: break-word;
}

.introduction-list{
  width: 25%;
  margin-top: 1%;
}

.introduction-list a{
  text-decoration: none;
  color: inherit;
}

#introduction-me img{
  height: 150px;
  width: 150px;
}



.introduction-list img{
	height: 50px;
	width: 50px;
}



/* COMPETENCES */

#competences{
  background-image: linear-gradient(to bottom, #fdfcfb 0%, #e2d1c3 20%, white 99%);
  padding-top: 2%;
}


.hex {
    float: left;
    margin-left: 3px;
    margin-bottom: -26px;
    text-align: center;
    cursor: pointer;
    --main-bg-color: #50c6c6;
}
.hex .top {
    width: 0;
    border-bottom: 30px solid var(--main-bg-color); ;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
.hex .middle {
    width: 104px;
    height: 60px;
    background: var(--main-bg-color); ;
}
.hex .bottom {
    width: 0;
    border-top: 30px solid var(--main-bg-color); ;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
.hex-row {
    clear: left;
}
.hex-row.even {
    margin-left: 53px;
}

.hex img{
	height: 65px;
	width: 65px;
	text-align: center;
}

#competences .details{
	display: none;
	padding-bottom: 2%;
	text-align: center;
}

#competences .details p{
	text-align: justify;
}

#competences .right .progress{
	width: 80%;
	margin: 5% 10% 0 10%;
	box-shadow:8px 6px 5px 0px rgba(50, 50, 50, 0.75);
	border: 0.5px solid grey;
}

#competences .right, #competences .left{
	display: inline-block;
	vertical-align: top;
}

#informatic{
  min-height: 450px;
}

#linguistic{
  min-height: 300px;
}

#competences #informatic .left{
	width: 60%;
	margin-left: 5%;
  margin-top: 5%;
  padding-bottom: 1%;
}

#competences #linguistic .left{
  width: 40%;
  margin-left: 5%;

}

#competences .right{
	width: 30%;
}

#competences #informatic .right{
  margin-top: 5%;

}
#competences #linguistic .right{

}


#competences #informatic .left, #instructions-1{
	display: inline-block;
	vertical-align: middle;
}

#competences #linguistic .left, #instructions-2{
  display: inline-block;
  vertical-align: top;

}


#instructions-1{
  font-size: 25px;
  font-family: Fredericka the Great;
  color: #800000;
  width: 25%;
  margin-left: 5%;

}

#instructions-2 {
  font-size: 25px;
  font-family: Fredericka the Great;
  color: #800000;
  width: 25%;

}


.arrow li{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 43.3px 25px 0;
  border-color: transparent tan transparent transparent;
  display: inline-block;
  margin-top: 10%;
  margin-right: 10%;
  animation: Test 1s infinite;
}





.arrow li:first-child{
  animation: Testone 4s infinite;
}
.arrow li:nth-child(2){
   animation: Testtwo 4s infinite;
}
.arrow li:nth-child(3){
   animation: Testthree 4s infinite;
}
.arrow li:last-child{
  animation: Testfour 4s infinite;
}

@keyframes Testone{
    0%{opacity: 1;}
    99%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes Testtwo{
    0%{opacity: 1;}
    70%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes Testthree{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes Testfour{
    0%{opacity: 1;}
    25%{opacity: 0;}
    100%{opacity: 1;}
}

#canvas {
  margin: 0 10% 5% 10%;
  box-shadow: 0 11px 11px rgba(0, 0, 0, 0.5);
  background-color: #3b8b43;
  display: none;
}

#works{
  display: none;
  border-radius: 5px;
  padding: 2% 10% 0 10%;
}

#works img{
  height: 100px;
  width: 100px;
}

#works img, #works a{
  display: block;
}



#competences .right h3{
	text-transform: uppercase;
}

#options button {
	height: 30px;
	width:30px;
	background:inherit;
	border: none;
}

#portfolio{
  padding-top: 1%;
  padding-bottom: 1%;
}

#portfolio #buttons{
	text-align: center;
  margin: 2% 0 1% 0;
}

#buttons button:first-child{
  background:url(../IMG/644459.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  outline: none;
}

#buttons button:nth-child(2){
	background:url(../IMG/148717.svg);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	outline: none;
}
#buttons button:nth-child(3){
  background:url(../IMG/432541.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  outline: none;
}

#buttons button:last-child{
  background:url(../IMG/1161202.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  outline: none;
}
/* MAIN */

main #about h1, main #competences h1, main #diplomas h1, main #portfolio h1, main #contact > h1{
  text-align: center;
  font-family: 'Charmonman', cursive;
  text-transform: capitalize;
  font-size: 3em;
}


/* DIPLOMES */

#diplomas{
  padding:5% 5% 1% 5%;
  background-image: linear-gradient(to bottom, white 0%, #e6e9f0 10%, #eef1f5 50%, white 100%);
}


#diplomas .timeline {
}

#diplomas .content {
  background-color: red;
  border-radius: 6px;
  width: 40%;
  box-shadow: 5px 5px; 

}

#diplomas .arrow-right {
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid red;
  position: relative;
  top: 130px;
  left: 40%;
}


/* RéALISATIONS */

#realisations li{
	margin: 0;
	padding: 0;

}
#realisations img{
	height: 300px;
	width: 33%;
	display: inline-block;
	-webkit-transition: all 1s ease; /* Safari et Chrome */
	-moz-transition: all 1s ease; /* Firefox */
	-ms-transition: all 1s ease; /* Internet Explorer 9 */
	-o-transition: all 1s ease; /* Opera */
	transition: all 1s ease;
}

main #realisations img:hover{
	-webkit-transform:scale(1.1); /* Safari et Chrome */
	-moz-transform:scale(1.1); /* Firefox */
	-ms-transform:scale(1.1); /* Internet Explorer 9 */
	-o-transform:scale(1.1); /* Opera */
	transform:scale(1.1);
	background-color: rgb(0,0,0, 0.5);
}



main .details-title:nth-child(2){
	max-height: 180px;
	overflow-y: scroll;
	padding-right: 5%;
}

/* PHOTOS */

main #pictures{
	display: none;
}

main #pictures img{
	height: 350px;
  width: 33%;
  display: inline-block;
  -webkit-transition: all 1s ease; /* Safari et Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* Internet Explorer 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}


main #pictures img:hover{
  -webkit-transform:scale(1.1); /* Safari et Chrome */
  -moz-transform:scale(1.1); /* Firefox */
  -ms-transform:scale(1.1); /* Internet Explorer 9 */
  -o-transform:scale(1.1); /* Opera */
  transform:scale(1.1);
  background-color: rgb(0,0,0, 0.5);
}

/* FORMULAIRE */

/* STYLISATION DE LA PARTIE CONTACT */

  #contact{
    margin-top: 5%;
  }
  #contact-fr{
    background-image: url(../IMG/antibes.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 115%;
    padding-bottom: 1%;
  }

  #contact-en{
    background-image: url(../IMG/sanfrancisco.png);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 135%;
    padding-bottom: 1%;
  }

  #contact-ro{
    background-image: url(../IMG/bucarest.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 155%;
    padding-bottom: 60%;
  }

  #contact-es{
    background-image: url(../IMG/buenosaires.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130%;
    padding-bottom: 5%;
  }

  #contact-de{
    background-image: url(../IMG/frankfurt.png);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: 135%;
    padding-bottom: 60%;
  }

  #contact #form {
    background:rgba(255,255,255,0.8);
    width: 40%;
    margin: 3% 5% 0 5%;

  }

 #contact #downloads a{
 
}

  #contact #downloads h1{
    font-size: 20px;
  }

  #contact #downloads{

    margin-top: 3%;
    margin-left: 10%;
    width: 30%;
    font-family: 'EB Garamond', serif;
    text-align: center;
  }

  #form, #contact #downloads{
    display: inline-block;
    vertical-align: top;
  }
 
  #downloads-1, #downloads-2, #downloads-3 {
    margin-bottom: 5%;
    padding: 2%;
    background:rgba(255,255,255,0.8);
  }
  #downloads-3{
    display: none;
  }
  #downloads img{
    width: 30%;
  }
 
  #form img {
    width: 25%;
    margin: 0 37.5%;

  }

  #form h2 {
    text-align: center;
  }

  .sentence {
    font-family: 'EB Garamond', serif;
    font-size: 2em;
  }

  .rotate{
    display: inline;
    font-size: 1.3em;
    font-family: 'EB Garamond', serif;
  }

  .rotate span{
    animation: topToBottom 12.5s linear infinite 0s;
    -ms-animation: topToBottom 12.5s linear infinite 0s;
    -webkit-animation: topToBottom 12.5s linear infinite 0s;
    opacity: 0;
    color:rgba(181, 175, 223);
    overflow: hidden;
    position: absolute;
  }

  .rotate span:nth-child(2){
    animation-delay: 2.5s;
    -ms-animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
  }

  .rotate span:nth-child(3){
    animation-delay: 5s;
    -ms-animation-delay: 5s;
    -webkit-animation-delay: 5s;
  }

  .rotate span:nth-child(4){
    animation-delay: 7.5s;
    -ms-animation-delay: 7.5s;
    -webkit-animation-delay: 7.5s;
  }

  .rotate span:nth-child(5){
    animation-delay: 10s;
    -ms-animation-delay: 10s;
    -webkit-animation-delay: 10s;
  }

  /* L'animation*/

  @-moz-keyframes topToBottom{
    0% { opacity: 0; }
    5% { opacity: 0; -moz-transform: translateY(-20px); }
    10% { opacity: 1; -moz-transform: translateY(0px); }
    25% { opacity: 1; -moz-transform: translateY(0px); }
    30% { opacity: 0; -moz-transform: translateY(20px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
  }

  @-webkit-keyframes topToBottom{
    0% { opacity: 0; }
    5% { opacity: 0; -webkit-transform: translateY(-20px); }
    10% { opacity: 1; -webkit-transform: translateY(0px); }
    25% { opacity: 1; -webkit-transform: translateY(0px); }
    30% { opacity: 0; -webkit-transform: translateY(20px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
  }

  @-ms-keyframes topToBottom{
    0% { opacity: 0; }
    5% { opacity: 0; -ms-transform: translateY(-20px); }
    10% { opacity: 1; -ms-transform: translateY(0px); }
    25% { opacity: 1; -ms-transform: translateY(0px); }
    30% { opacity: 0; -ms-transform: translateY(20px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
  }

  input{
    height: 40px;
  }

  textarea{
    height: 100px;
    /* empêche le redimensionnement des champs textarea dans le formulaire */
    resize: none;
  }

  input,textarea {
    border-radius: 0px 5px 5px 0px;
    margin-bottom: 15px;
    width: 75%;
    float: left;
    padding: 0px 15px;
    outline: none;
    border:1px solid #eeeeee;
  }

  .form-group {
    width:70%;
    float:left;
    box-sizing: border-box;
    margin: 0 0 0 20%;
    list-style-type: none;
  }


  .icon-case {
    width: 35px;
    float: left;
    border-radius: 5px 0px 0px 5px;
    background:#eeeeee;
    height:40px;
    position: relative;
    text-align: center;
    line-height:40px;
  }

  .form-group li{
    margin-bottom: 5%;
  }
  .rotate {
    margin: 0 40% 0 40%;
  }

  .rotate span {
    font-size: 1.5em;
  }


  .buttons button{
    border: 1px solid #ddd;
      background: url(../IMG/network.jpeg);
      background-size: cover;
      color: #fff;
      width: 25%;
      font-weight: bold;
      text-transform: uppercase;
      padding: 2%;
      border-radius: 5px;
      outline: none;
  }
  .buttons {
    text-align: center;
    margin-bottom: 1%;
  }



/* FOOTER */


footer {
	padding-bottom: 5%;
}

footer #social{
  height: 200px;
  text-align: center;
  width: 40%;
  margin: 0 0 0 50%;

}
footer #social .circle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background:rgba(255,255,255,0.7);
  list-style-type: none;
  }

footer #social .circle h4{
  color: black;
}
footer #social .circle i:hover{
  border:1px solid #22adf5;
  color: #22adf5;
}

footer #social .circle i{
  font-size: 20px;
  margin-top: 20px;
  padding: 30px;
  border:1px solid #22adf5;
  color: #22adf5;

}
 footer #dialog-message{
  display: none;
  background-color: black;
  color: white;
 }


 .ui-dialog,.ui-dialog,.ui-widget, .ui-widget-content, .ui-corner-all, .foo, .ui-draggable, .ui-resizable {
  background:black !important;
  color: white !important;
  text-align: center !important;
  border:none !important;
}



footer .fa-snapchat-ghost{
  cursor: pointer;
}




.chat-box{
    position: fixed;
    bottom: 0;
    right: 0;
}


.chat-box button{
  float: right;
  background-color: inherit;
  color: white;
}
.box{
    transition: height .6s ease-out;
    width: 200px;
    height: 0px;
    background: white;

}
.open:hover>.box{
    height:250px;
    transition: height .6s ease-out;
    text-align: left;
}


.open {
    text-align: center;
    border: 1px solid #3F51B5;
    background: #673AB7;
    color: #eaeaea;

}
.open h4{
  font-size: 15px;
}

.open h4, .open img{
  display: inline-block;
  vertical-align: middle;
}
.open img{
  height: 75px;
  width: 75px;
}
